.first {
    background-color: rgb(255, 200, 0);
    width: 1500px;
    margin-bottom: 0px;
}
.info {
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 500px;
    font: italic;
    
}
.infor {
    text-align: center;
}
.img img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    position: absolute;
    top: 25px;
    right: 200px;
    object-fit: cover;

}